
.restaurantCard{
    width: 800px;
    min-height: 153px;
    margin: 20px auto 0;
    text-align: left;
}

.restaurantCardAuxiliary{
    width: 540px;
    height: 153px;
    margin: 20px auto 0;
    box-sizing: border-box;
    padding: 16px;
    text-align: left;
}

.tableCard{
    padding: 16px;
    box-sizing: content-box;
    text-align: left;
    margin: 8px auto 0;
}